* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5% ;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #190361 0%, #B0F 100%);
  animation: gradient 10s ease infinite;
  background-size: 200% 200%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

main {
  text-align: center;

  border-radius: .5rem;
  background: #FFF;
  box-shadow: 0rem 2rem 5rem 0rem rgba(0, 0, 0, 0.80);
  margin-top: 20rem;
}

div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30rem;
  margin: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #34355B;
  align-items: center;
}

h1 {
  font-family: Montserrat;
  font-size: 2.4rem;
  font-weight: 700;
}

p {
  font-family: DM Sans;
  font-size: 1.5rem;
  font-weight: 400;
}

img {
  width: 24.9rem;
  height: 19.2rem;
  cursor: pointer;
}

@keyframes shake {
  0%, 100% {
    transform: translateY(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateY(5px);
  }
}

.image-shake:hover {
  animation: shake 0.9s ease-in-out infinite;
}

.hide {
  display: none;
}

h2 {
  font-family:  Dancing Script;
  font-size: 2.4rem;
  font-weight: 400;

  background: #E4EDF1;
  box-shadow: .2rem .2rem .2rem 0rem rgba(85, 85, 85, 0.50);
  padding: 1rem;
}

.img2 {
  display: flex;
  width: 30rem;
  padding: 43.128px 0px 42.341px 0px;
  justify-content: center;
  align-items: center;
}

button {
  color: #FFF;
  text-align: center;
  border: none;
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 700;
  width: 18rem;
  padding: 16px;
  gap: 10px;
  border-radius: 4px;
  background: #FF9500;
  cursor: pointer;
}


@keyframes aniGrow {
  0% {
    transform: scale(0.2);
    transform-origin: bottom 
  }
  100% {
    transform: scale(1);
    transform-origin: top;
  }
}


.grow-element {
  animation: aniGrow 2s ease-in-out;
}

